div{
    padding: 40vh;
    display: block;
    text-align: center;
}
svg{
    border: 2px solid black;
     border-radius: 50%; 
     background-color: yellowgreen;
}
svg:hover
{
    background-color: crimson;
}
ellipse
{
    fill:yellow;
    stroke:green;
    stroke-width:3
}
ellipse:hover
{
    fill: blue;
}
path
{
    stroke:white ;
    stroke-width:4;
     fill:none;
}
path:hover
{

    stroke:red ;
    stroke-width:4;
     fill:none;
}